<!-- planification-add.component.html -->

<h2>Add excute</h2>

<form #form="ngForm" (ngSubmit)="addPlanification(form.value.status)">
  <div class="row justify-content-end">
    <div class="form-group">
    <label for="status">log:</label>
    <input type="text" id="log" class="form-control" placeholder="log here ..." name="log"  [(ngModel)]="log" required>
  </div>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<input type="datetime" class="form-control" />


